html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: sans;
    background-color: #eff4f4;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --header-font: 18px/20px 'Ubuntu', sans-serif;
    --body-font: 16px/24px 'Ubuntu', sans-serif;
    --des-font: 18px/24px 'Ubuntu', sans-serif;
}

.content {
    min-height: calc(100vh - 360px);
}

.hidden.hidden {
    display: none;
}

/* ---HEADER--- */

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/img.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: -220px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3)
}

.wrapper {
    padding: 0 70px 0 70px;
}

.header__left {
    align-items: center;
    display: flex;
}

.header__left a {
    font: var(--header-font);
    color: #393e6b;
    text-transform: uppercase;
    margin-right: 30px;
}

.header__right {
    align-items: center;
    display: flex;
}

.header__right a {
    font: var(--header-font);
    color: #393e6b;
    text-transform: uppercase;
    margin-left: 30px;
}

.header__right-logo {
    width: 115px;
}



.header__logo {
    display: none;
    width: 120px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(../svg/logo_head.svg);
    margin-right: auto;
}

/* ---BURGER--- */

.burger__nav-item {
    font: var(--header-font);
    color: #393e6b;
    text-transform: uppercase;
    margin-left: 30px;
}

.burger__nav-margin {
    margin-top: 24px;
}

#menuToggle input:checked~ul {
    transform: none;
}

#menuToggle {
    display: none;
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -2px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #3fd6bc;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background-color: #3fd6bc;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 1180px;
    margin: -100px 0 0 -100px;
    padding: 50px;
    padding-top: 125px;
    overflow: hidden;
    padding-left: 100px;
    background-color: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.5);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

.burger {
    display: none;
}

/* ---INSTALATION--- */

.instalation {
    padding: 66px 0 68px 0;
}

.content-wrapper-grey {
    padding: 0 328px 0 328px;
    background-color: #eff4f4;
}

.content-wrapper-white {
    padding: 0 328px 0 328px;
    background-color: white;
}

.instalation h1 {
    font: 36px/35px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #393e6b;
    font-weight: 700;
}

.instalation h2 {
    font: 30px/36px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #393e6b;
    font-weight: 700;
}

.instalation h4 {
    font: var(--body-font);
    color: #74757b;
    width: 668px;
    margin-top: 48px;
}

.instalation__buttons {
    margin-top: 60px;
    display: flex;
}

.instalation__buttons-tryitfree {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2cd3b8;
    color: white;
    border-radius: 30px;
    padding: 20px 0;
    width: 256px;
    font: 14.5px/16px 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-right: 20px;
}

.instalation__buttons-tariffs {
    color: #393e6b;
    border: 1px solid #393e6b;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px 0;
    width: 256px;
    font: 14.5px/16px 'Ubuntu', sans-serif;
    font-weight: 700;
}

.instalation__steps {
    margin: 118px 0 118px 0;
    display: flex;
}

.instalation__steps-one span {
    font: 150px/25px 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #e1e2e9;
    margin-left: -50px;
    position: relative;
}

.instalation__steps-one span::before {
    content: "";
    position: absolute;
    background-image: url(../svg/list.svg);
    width: 50px;
    height: 50px;
    left: 48px;
}

.instalation__steps-two span {
    font: 150px/25px 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #e1e2e9;
    margin-left: 73px;
    position: relative;
}

.instalation__steps-two span::before {
    content: "";
    position: absolute;
    background-image: url(../svg/code.svg);
    width: 50px;
    height: 50px;
    left: 48px;
}

.steps__link-first {
    color: #0da088;
    border-bottom: 2px solid #0da088;
    font: var(--body-font);
    position: relative;
    left: -40px;
    top: 44px;
}
.steps__link-second {
    color: #0da088;
    border-bottom: 2px solid #0da088;
    font: var(--body-font);
    position: relative;
    top: 21px;
    display: flex;
    left: 106px;
}

.instalation__list {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
}

.instalation__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.instalation__list-item:last-child {
    margin-bottom: 24px;
}

.instalation__list-topline {
    display: flex;
    align-items: center;
}

.list__item-circle {
    display: flex;
    color: #3b4269;
    font: 64.5px/1px 'Ubuntu', sans-serif;
}

.list__item-title {
    font: 24px/25px 'Ubuntu', sans-serif;
    color: #0da088;
    border-bottom: 2px solid #0da088;
    margin-left: 29px;
}

.list__item-description {
    margin: 18px 0 0 45px;
    font: var(--body-font);
    color: #7c7d83;
}

.instalation h5 {
    margin-top: 37px;
    font: var(--body-font);
    color: #7c7d83;
}

.instalation__list-points span {
    display: flex;
    width: 74px;
    height: 74px;
    background-color: #2cd3b8;
    border-radius: 37px;
}

.list__points-one::before {
    content: "";
    background-image: url(../svg/icon_01.svg);
    width: 36px;
    background-repeat: no-repeat;
    position: relative;
    top: 25px;
    left: 19px;
}

.list__points-two::before {
    content: "";
    background-image: url(../svg/icon_02.svg);
    width: 36px;
    background-repeat: no-repeat;
    position: relative;
    top: 25px;
    left: 19px;
}

.list__points-three::before {
    content: "";
    background-image: url(../svg/icon_03.svg);
    width: 36px;
    background-repeat: no-repeat;
    position: relative;
    top: 19px;
    left: 19px;
}

.list__points-four::before {
    content: "";
    background-image: url(../svg/icon_04.svg);
    width: 36px;
    background-repeat: no-repeat;
    position: relative;
    top: 28px;
    left: 19px;
}

.list__points-five::before {
    content: "";
    background-image: url(../svg/icon_05.svg);
    width: 36px;
    background-repeat: no-repeat;
    position: relative;
    top: 17px;
    left: 19px;
}

.list__points-six::before {
    content: "";
    background-image: url(../svg/icon_06.svg);
    width: 36px;
    background-repeat: no-repeat;
    position: relative;
    top: 23px;
    left: 19px;
}

.instalation__list-points h3 {
    font: 24px/24px 'Ubuntu', sans-serif;
    color: #393e6b;
    font-weight: 700;
    display: flex;
    margin: 0 10px 0 37px;
    width: 80px;
}

.instalation__after-download {
    margin-top: 84px;
    display: flex;
}

.instalation__list-points {
    display: flex;
    flex-direction: column;
}

.list__points {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.instalation__list-points h5 {
    display: flex;
    font: var(--des-font);
    color: #393e6b;
    margin: 0;
}

.instalation__after-buttons {
    margin-top: 7px;
    padding-bottom: 70px;
    display: flex;
}

.instalation__buttons-freetry {
    color: white;
    background-color: #393e6b;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px 20px;
    font: 14.5px/16px 'Ubuntu', sans-serif;
    font-weight: 700;
}

.instalation h6 {
    font: var(--des-font);
    color: #393e6b;
}

.instalation__social-items {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
}

.social__items-svg+a {
    font: var(--des-font);
    color: #1da690;
    text-decoration: underline;
}

.social__items {
    display: flex;
    align-items: center;
    width: 330px;
    margin-bottom: 45px;
}

.social__items-svg {
    width: 40px;
    height: 40px;
    display: flex;
    margin-right: 30px;
}

.chat {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    background-color: #06d6d6;
    bottom: 23px;
    right: 35px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.chat::before {
    content: "";
    width: 25px;
    background-repeat: no-repeat;
    background-image: url(../svg/icon_fixed.svg);
    position: relative;
    left: 13px;
    top: 15px;
}

/* ---FOOTER--- */

.footer {
    background-color: #393e6b;
    padding-top: 66px;
    padding-bottom: 41px;
}

.footer__container {
    display: flex;
}

.footer__logo {
    display: flex;
    flex-direction: column;
}

.footer__logo-svg {
    height: 37px;
    margin-bottom: 28px;
}

.footer__logo-allrights {
    font: 14px/normal 'Ubuntu', sans-serif;
    color: #b6b9c9;
    margin-bottom: 10px;
}

.footer__phones {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
}

.phones__main-number {
    font: 26px/24px 'Ubuntu', sans-serif;
    color: white;
}

.phones__main {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.phones__main-svg {
    width: 30px;
    margin-right: 12px;
}

.phones__region {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.phones__region-number {
    font: 22px/24px 'Ubuntu', sans-serif;
    color: white;
    margin-bottom: 4px;
}

.phones__region-address {
    font: var(--body-font);
    color: #adb0c2;
}

.footer__contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 290px;
}

.footer__contacts-email {
    font: var(--body-font);
    color: white;
}

.footer__contacts-time {
    font: var(--body-font);
    color: #adb0c2;
}

.footer__contacts-social {
    margin-top: 20px;
}

.contacts__social img {
    width: 8%;
    margin-right: 17px;
}
@media(max-width: 1400px){
    .list__item-title {
        border-bottom: none;
        text-decoration: underline;
    }
}

@media(max-width:1300px) {
    .header {
        background-position: -380px;
    }
    .content-wrapper-white {
        padding: 0 168px 0 168px;
    }
    .content-wrapper-grey {
        padding: 0 168px 0 168px;
    }
    .footer__phones {
        margin-left: 110px;
    }
}

@media(max-width: 1100px) {
    .header__right {
        display: none;
    }
    .header__left {
        display: none;
    }
    .header {
        background-image: none;
    }
    #menuToggle {
        display: block;
    }
    .header__logo {
        display: flex;
    }
    .burger {
        display: block;
        margin-right: auto;
    }
    .footer__phones {
        display: none;
    }
}

@media(max-width:900px) {
    .list__item-title {
        border-bottom: none;
        text-decoration: underline;
    }
    .content-wrapper-white {
        padding: 0px 98px 0 98px;
    }
    .content-wrapper-grey {
        padding: 0px 98px 0 98px;
    }
    .instalation__list-points h5 {
        width: 330px;
    }
}

@media(max-width:770px) {
    .wrapper {
        padding: 0 67px 0 67px;
    }
    .instalation h4 {
        width: auto;
    }
    .instalation__buttons {
        margin-top: 97px;
        flex-direction: column;
        width: auto;
    }
    .instalation__buttons-tryitfree {
        width: auto;
        margin-bottom: 32px;
    }
    .instalation__buttons-tariffs {
        border: 3px solid #393e6b;
        width: auto;
    }
    .instalation__steps {
        margin: 118px 0 40px 0;
        display: flex;
    }
    .footer {
        padding: 40px 67px 40px 67px;
    }
    .instalation__after-buttons {
        flex-direction: column;
        margin-top: 70px;
    }
    .instalation__buttons-tryitfree {
        margin-right: 0;
    }
    .instalation__list-points h5 {
        width: 270px;
    }
}

@media(max-width: 650px) {
    .footer__contacts {
        display: none;
    }
    .content-wrapper-white {
        padding: 0px 38px 0 38px;
    }
    .content-wrapper-grey {
        padding: 0px 38px 0 38px;
    }
    .wrapper {
        padding: 0 27px 0 27px;
    }
    .instalation__steps-one span {
        margin-left: 0;
    }
    .steps__link-first {
        top: 41px;
        left: -40px;
    }
    .footer {
        padding: 40px 38px 40px 38px;
    }
}

@media(max-width:550px) {
    .instalation__steps-two span::before {
        width: 30px;
        height: 30px;
        left: 24px;
    }
    .instalation__steps-one span::before {
        width: 30px;
        height: 30px;
        left: 25px;
    }
    .instalation__steps-two span {
        margin-left: 23px;
        font: 80px/25px 'Ubuntu', sans-serif;
    }
    .instalation__steps-one span {
        font: 80px/25px 'Ubuntu', sans-serif;
    }
    .steps__link-second {
        top: 11px;
        left: 46px;
    }
    .steps__link-first {
        top: 31px;
    }
    .instalation__list-points span {
        width: 64px;
        height: 64px;
        margin-right: auto;
    }
    .list__points-one::before {
        top: 20px;
        left: 15px;
    }
    .list__points-two::before {
        top: 19px;
        left: 17px;
    }
    .list__points-three::before {
        top: 15px;
        left: 15px;
    }
    .list__points-four::before {
        top: 23px;
        left: 14px;
    }
    .list__points-five::before {
        top: 12px;
        left: 15px;
    }
    .list__points-six::before {
        top: 18px;
        left: 15px;
    }
    .instalation__after-buttons {
        padding-bottom: 20px;
    }
    .list__points {
        flex-direction: column;
    }
    .instalation__list-points h3 {
        margin: 10px auto 10px 0;
        width: auto;
    }
    .instalation__list-points h5 {
      width: auto;
      margin-right: auto;
    }
    .instalation__buttons-freetry {
        text-align: center;
    }
}
@media(max-width:420px){
    .instalation {
        padding: 66px 0 108px 0;
    }
    .instalation__steps {
        flex-direction: column;
    }
    .instalation__steps-one span {
        font: 110px/25px 'Ubuntu', sans-serif;
    }
    .instalation__steps-two span {
        font: 110px/25px 'Ubuntu', sans-serif;
        margin-left: 0;
        top: 80px;
    }
    .steps__link-first {
        top: 21px;
    }
    .steps__link-second {
        top: 101px;
        left: -40px;
        display: inline;
    }
}